<app-home></app-home>
<footer>
    <div class="content">
        <div class="col-4">
            <span>Contact Us</span>
            <ul>
                <li><a href="tel: 1234567890">+91 1234567890</a></li>
                <li> <a href="mailto: stock.to.ship@gmail.com">{{email}}</a></li>
                <li> <a href=""></a> <b>India</b></li>
            </ul>
        </div>
        <div class="col-4">
            <span>Our Services</span>
            <ul>
                <li><a [routerLink]="['/tandc']">Terms & Conditions</a></li>
                <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                <li><a [routerLink]="['/front-page']">Back Home</a></li>
            </ul>
        </div>
        
        <div class="col-4">
            <img src="../../assets/images/logo.png" alt="footer-logo">
            <pre>Stock To Ship, providing you 
the best quality products.</pre>
        </div>
    </div>
    <div class="copy">
        <p>Copyright &copy; 2024 Stock To Ship&trade; | All rights reserved</p>
        <ul class="social">
            <li><a href="https://www.facebook.com/" class="fa fb" aria-hidden="true"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://twitter.com/?lang=en-in" class="fa twitter" aria-hidden="true"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.google.co.in/webhp" class="fa insta" aria-hidden="true"><i class="fa-brands fa-google"></i></a></li>
            <li><a href="https://in.linkedin.com" class="fa lnk" aria-hidden="true"><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</footer>