
  <div class="container">
    <h2>Material Requisition</h2>
    <div class="row">
        <div class="col">
            <input class="input" type="text" placeholder="Supplier code">
        </div>
        <div class="col">
            <input class="input" type="text" placeholder="supplier Name">
        </div>
        <div class="col">
            <input class="input" type="text" placeholder="supplier city">
        </div>
        <div class="col">
            <input class="input" type="text" placeholder="remarks">
        </div>
    </div>
 
 
 
 
  <table>
    <thead>
      <tr>
        <th>S No</th>
        <th>Item Code</th>
        <th>Description</th>
        <th>Category</th>
        <th>Units</th>
        <th>Dimensions</th>
        <th>Country of Origin</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>198</td>
        <td>XXX</td>
        <td>XXX</td>
        <td>m</td>
        <td>1200</td>
        <td>India</td>
        <td>100</td>
      </tr>
      <tr>
        <td>2</td>
        <td>201</td>
        <td>XXX</td>
        <td>XXX</td>
        <td>cm</td>
        <td>50x25x30</td>
        <td>India</td>
        <td>150</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="button-container">
    <button type="submit" class="btn btn-info">Submit</button>
    </div>
</div>