
  <div class="container">
    
    <h2>Create Purchase Order</h2>
    <div class="row">
    <label for="purchaseReqNumber">Enter the Purchase Requisition Number:</label>
    <input type="text" id="purchaseReqNumber" name="purchaseReqNumber" required>
 </div>
    <form>
        <div class="row">
            <div class="col">
                <label for="itemCode">Item Code:</label>
                <input type="text" id="itemCode" name="itemCode" required>          
            </div>
            <div class="col">
                <label for="supplierCode">Supplier Code:</label>
      <input type="text" id="supplierCode" name="supplierCode" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
      <label for="itemDescription">Item Description:</label>
      <input type="text" id="itemDescription" name="itemDescription" required>
 </div>
 <div class="col">
    <label for="supplierName">Supplier Name:</label>
    <input type="text" id="supplierName" name="supplierName" required>
 </div>
 </div>
 <div class="row">
    <div class="col">
      <label for="quantity">Quantity:</label>
      <input type="text" id="quantity" name="quantity" required>
 </div>
 <div class="col">
    <label for="companyMake">Company Name:</label>
    <input type="text" id="companyMake" name="companyMake" required>
 </div>
 </div>
 <div class="row">
    <div class="col">
        <label for="units">Units:</label>
        <input type="text" id="units" name="units" required>  
    </div>
    <div class="col">
        <label for="paymentTerms">Payment Terms:</label>
      <input type="text" id="paymentTerms" name="paymentTerms" required>
    </div>
 </div>
 <div class="row">
    <div class="col">
      <label for="companyName">Company Make:</label>
      <input type="text" id="companyName" name="companyName" required>
 
      </div>
      <div class="col">
      <label for="bankDetails">Bank Details:</label>
      <input type="text" id="bankDetails" name="bankDetails" required>
 </div>
 </div>
 <div class="button-container">
        <button type="button" class="btn btn-info">Edit</button>
        <button type="button" class="btn btn-info">Submit</button>
        </div>
    </form>
</div>