<header>
    <h2>
        <div class="h2"> Stock Vault</div>
    </h2>
    <!--<div class="header-icons">
        <b><a href="#" class="header-button">Notifications <i class="fa-solid fa-bell"></i> </a></b>
        <b><a href="#" class="header-button">Profile <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </a></b>
    </div>-->
</header>

<div id="createBomContainer">
    <div id="navbar">
        <h2>Create BOM</h2>
        <button type="button" id="addItemButton" onclick="addItemToBOM()">
            <i class="fa-regular fa-square-plus fa-xl"></i>  Add more items to BOM
        </button>
    </div>
    <form (ngSubmit)="submitForm()" #bomForm="ngForm">
        <p>Enter the following details to generate BOM</p>

        <div class="row">
            <div class="col">
                <label for="uniqueItemCode">Unique Item code</label>
                <input type="text" id="uniqueItemCode" name="uniqueItemCode" placeholder="Enter Unique Item code" ngModel required>
            </div>
            <div class="col">
                <label for="unitsOfMeasure">Units of Measure</label>
                <select id="unitsOfMeasure" name="unitsOfMeasure" ngModel required>
                    <option value="mm">Meter (m)</option>
                    <option value="km">Kilometer (km)</option>
                    <option value="cm">Centimeter (cm)</option>
                    <option value="mm">Millimeter (mm)</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" placeholder="Enter Description" ngModel required>
                <span class="error-message" id="descriptionError"></span>
            </div>
            <div class="col">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" id="manufacturer" name="manufacturer" placeholder="Enter Manufacturer" ngModel required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="quantity">Quantity</label>
                <input type="text" id="quantity" name="quantity" placeholder="Enter Quantity" ngModel required>
            </div>
            <div class="col">
                <label for="supplierCode">Supplier Code</label>
                <input type="text" id="supplierCode" placeholder="Enter Supplier Code" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="dimensions">Dimensions</label>
                <input type="text" id="dimensions" name="dimensions" placeholder="Enter Dimensions" ngModel required>
            </div>
            <div class="col">
                <label for="subAssembly">Sub Assembly</label>
                <input type="text" id="subAssembly" name="subAssembly" placeholder="Enter Sub Assembly" ngModel required>
            </div>
        </div>
        <div id="generateBomContainer">
            <label for="notesComments">Notes/Comments</label>
            <input type="text" id="notesComments" name="notesComments" placeholder="Enter Notes/Comments" ngModel required>
            <br><br>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" [disabled]="!bomForm.valid">Generate Bom</button>
            </div>
        </div>
    </form>
</div>
