<app-home></app-home>
<div class="content">
    <!-- <header>
     <h2 class="logo">      </h2>
     <nav class="navigation">
             <a href="#notification"><i class="fa-regular fa-bell"></i> Notifications</a>
             <div class="notification-dropdown">
             <div class="notification-item">
                         Notification 1
             </div>
             <div class="notification-item">
                         Notification 2
             </div>
             <div class="notification-item">
                         Notification 3
             </div>
             </div>
     </nav>
     </header>-->
     <div class="main">
         <div class="option" (click)="navigateTo('wareyougo')">
             <img src="/assets/images/wareyougo.png" class="option-image" alt="Ware-you-go">
             <h3>Ware-you-go</h3>
           </div>
         
           <div class="option" (click)="navigateTo('carodrive')">
             <img src="/assets/images/carodrive.png" class="option-image" alt="Car-O-Drive">
             <h3>Car-O-Drive</h3>
           </div>
         
           <div class="option" (click)="navigateTo('stockvault')">
             <img src="/assets/images/stockvault.png" class="option-image" alt="Stock Vault">
             <h3>Stock Vault</h3>
           </div>
     </div>
     </div>