<h2 class="logo text-center">Stock-to-Ship <i class="fa-solid fa-shop"></i></h2>
<div class="container my-5" style="width: 400px;">
    <h1 class="text-center">Verification</h1>


<form (ngSubmit)="login()" #loginForm="ngForm" class="p-3 bg-light shadow-sm rounded">

    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username"
        [ngClass]="{ 'error-border': errorMessages.username !== '' }" class="form-control" required>
      <div class="error-message" *ngIf="errorMessages.username !== ''">{{ errorMessages.username }}</div>
    </div>
  
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email"
        [ngClass]="{ 'error-border': errorMessages.email !== '' }" class="form-control" required>
      <div class="error-message" *ngIf="errorMessages.email !== ''">{{ errorMessages.email }}</div>
    </div>
  
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Verify</button>
    </div>

  </form>
  </div>