@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    header {
    margin-bottom: 0;    
    color: black;
     
    padding: 1em;
     
    text-align: center;
     
    width: 100%;
     
    }
     
    section {
    width: 100%;
     
    padding: 2em;
     
    text-align: center;
     
    height: calc(100% - 50px); 
     
    box-sizing: border-box;
     
    display: flex;
     
    align-items: center;
     
    justify-content: center;
     
    }
     
            label {
                display: block;
                margin-bottom: 10px;
            }
     
            input, select {
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 20px;
                width: 100%;
                box-sizing: border-box;
            }
     
            button {
                padding: 10px;
                font-size: 16px;
                background-color: #333;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
     
            button:hover {
                background-color: #555;
            }
            #stampResult{
                margin: 30px;
            }
           