<app-home></app-home>


<div class="text-center">
<div *ngIf="!isEditMode">
   
    <p>Name: {{ user.name }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Employee Id: {{ user.employeeId }}</p>
    <p>Department Id: {{user.departmentId }}</p>
    <p>Role Id: {{ user.roleId }}</p>
    <button (click)="toggleEditMode()">Edit</button>
  </div>
  
  <div *ngIf="isEditMode">
   
    <input [(ngModel)]="user.name" placeholder="Name">
    <input [(ngModel)]="user.username" placeholder="Username">
    <input [(ngModel)]="user.email" placeholder="Email">
    <input [(ngModel)]="user.employeeId" placeholder="Employee Id">
    <input [(ngModel)]="user.departmentId" placeholder="Department Id">
    <input [(ngModel)]="user.roleId" placeholder="Role Id">
  
    <button (click)="saveChanges()">Save</button>
  
    <button (click)="toggleEditMode()">Cancel</button>
  </div>
 
</div>
   <!-- <div *ngIf="user">
    <h2>My Account</h2>
    <div>
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="user.username" disabled>
    </div>
    <div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="user.name" [readonly]="isEditMode">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="user.email" [readonly]="isEditMode">
    </div>
    <div>
      <label for="employeeId">Employee ID:</label>
      <input id="employeeId" [(ngModel)]="user.employeeId" [readonly]="isEditMode">
    </div>
    <div>
      <button (click)="toggleEditMode()">Edit</button>
      <button *ngIf="isEditMode" (click)="saveChanges()">Save Changes</button>
    </div>
  </div>
   -->