<app-home></app-home>
<div class="content">
  <div class="navbar">
  <!--   <a routerLink="/home"><i class="fas fa-house"></i></a>
  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      </ul>
      </div>-->
    <div class="dropdown">
      <h3>Inbound Management</h3>
        <!--<i class="fa fa-caret-down"></i>-->
      <div class="dropdown-content">
        <a routerLink="/inbound-requisition">Inbound Requisition Form</a>
        <a routerLink="/location-analyzer">Location Analyzer</a>
      </div>
    </div>
    <div class="dropdown">
      <h3>Outbound Management</h3>
        <!--<i class="fa fa-caret-down"></i>-->
      <div class="dropdown-content">
        <a routerLink="/outbound-requisition">Outbound Requisition Form</a>
        <a routerLink="/shipping-status">Shipping Status</a>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h1>Welcome to Stock-to-Ship Management <i class="fa-regular fa-handshake"></i></h1>
    <!-- Add the content of your Stock-to-Ship Management page here -->
  </div>
</div>
