<app-home></app-home>
<div class="content">
  <div class="navbar">
    <div class="dropdown">
      <h3>Inbound Management</h3>
        <!--<i class="fa fa-caret-down"></i>-->
      <div class="dropdown-content">
        <a routerLink="/inbound-requisition">Inbound Requisition Form</a>
        <a routerLink="/location-analyzer">Location Analyzer</a>
      </div>
    </div>
    <div class="dropdown">
      <h3>Outbound Management</h3>
        <!--<i class="fa fa-caret-down"></i>-->
      <div class="dropdown-content">
        <a routerLink="/outbound-requisition">Outbound Requisition Form</a>
        <a routerLink="/shipping-status">Shipping Status</a>
      </div>
    </div>
  </div>

  <div style="padding: 20px;">
    <h1>Welcome to Stock-to-Ship Management <i class="fa-solid fa-handshake"></i></h1>
  </div>
</div>
